<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <div class="login-container">
      <h2>Iniciar Sesión</h2>
      <input type="email" id="correo" placeholder="Correo" />
      <input type="password" id="password" placeholder="Contraseña" />
      <button onclick="login()">Entrar</button>
      <p class="msg" id="mensaje"></p>
    </div>

    <script>
      async function login() {
        const correo = document.getElementById("correo").value;
        const pass = document.getElementById("password").value;
        const mensaje = document.getElementById("mensaje");
        mensaje.textContent = "";

        try {
          const response = await fetch("/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            body: `correo=${encodeURIComponent(
              correo
            )}&password=${encodeURIComponent(pass)}`,
          });

          const result = await response.text();
          if (result === "Login exitoso") {
            mensaje.style.color = "blue";
            mensaje.textContent = "Inicio de sesión exitoso. Redirigiendo...";
            window.location.href = "/usuarios";
          } else {
            mensaje.style.color = "red";
            mensaje.textContent = result;
          }
        } catch (error) {
          mensaje.style.color = "red";
          mensaje.textContent = "Error al conectar con el servidor.";
        }
      }
    </script>
  </body>
</html>
